@import "https://fonts.googleapis.com/css2?family=Tajawal&display=swap";

$mainColor: #341c77;
$secondColor: #0095db;

@font-face {
  font-family: myFont;
  src: url("../fonts/DINNextLTArabic-Regular.ttf");
}

input,
select,
textarea {
  &:focus {
    outline: 0 !important;
    box-shadow: none !important;
  }
}

body {
  direction: rtl;
  font-family: "Tajawal", sans-serif;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  width: 100%;
}

// =============================================================================================

.pagination {
  width: 35%;
  margin: auto;
  padding-left: 120px;
  padding-top: 30px;
  margin-bottom: 40px;
  .page-item {
    text-align: center;

    .page-link {
      background-color: transparent !important;
      padding: 0 !important;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 5px;
      color: #000;
      margin-right: 5px;
      border: 1px solid #BAC6D3;
    }
  }

  .active {
    .page-link {
      background-color: #36C0E6 !important;
      border: 1px solid #36C0E6 !important;
      color: #fff;
    }
  }
}


// start top header
.top-header {
  background-color: #fff;
  position: relative;

  .top-header-information {
    background-color: $mainColor;
    text-align: right;
    height: 40px;
    line-height: 35px;
    width: 77%;
    border-bottom-right-radius: 100px;
    float: left;
    padding-right: 10px;
    margin-bottom: 60px;
    overflow: hidden;

    ul {
      overflow: hidden;

      li {
        display: inline;
        margin-left: 20px;
        padding: 3px;
        padding-right: 20px;
        color: #fff;

        i {
          color: $mainColor;
          font-size: 13px;
        }
      }

      .info {
        float: right;

        span {
          font-size: 13px;
        }

        i {
          margin-right: 10px;
          color: #d09daf;
        }
      }

      .social {
        text-align: center;
        float: left;

        i {
          transition: all 0.5s ease-in-out;
          color: #000 !important;
          width: 25px;
          height: 25px;
          line-height: 25px;
          border-radius: 50%;
          background-color: #fff;
          font-size: 10px;
          margin-left: 5px;
        }
      }
    }
  }

  .logo {
    img {
      width: 137px;
      height: 107px;
      position: absolute;
      top: 30px;
    }
  }

  .navbar {
    background-color: #fff;
    width: 77%;
    height: 60px;
    float: left;
    padding: 0;
    margin-top: -30px;
    .navbar-nav {
      text-align: center;

      .nav-item {
        margin-left: 20px;
        height: 60px;

        .nav-link {
          font-size: 14px;
          // height: 60px;
          // line-height: 30px;
          padding: 10px;
          color: #000 !important;
          &:hover {
            color: $secondColor !important;
            border-bottom: 5px solid $secondColor;
          }
        }
      }

      .active {
        .nav-link {
          // background-color: $mainColor;
          color: $secondColor !important;
          border-bottom: 5px solid $secondColor;
        }
      }
    }

    .login {
      border: 1px solid $secondColor;
      height: 35px;
      border-radius: 5px;
      width: 100px;
      text-align: center;
      margin-top: -15px;
      .login-link {
        line-height: 32px !important;
        color: $secondColor;
        font-size: 13px;
      }
    }
  }
}

// start header pic slider
.header-slider {
  .header-slider-pic {
    .item-slider {
      height: 578px;
      background-size: cover;
      // background-position: center;
      position: relative;

      &:focus {
        outline: 0;
      }

      .slider-caption {
        text-align: right;
        width: 50%;
        float: right;
        margin-top: 130px;

        .caption-header {
          h5 {
            color: #fff;
            font-size: 45px;
          }
        }

        .caption-par {
          color: #fff;
          margin-top: 10px;
          line-height: 30px;
        }

        .btn {
          background-color: $secondColor;
          color: #fff;
          width: 200px;
          padding: 15px;
          box-shadow: 0px 6px 2px 0px #027fb9;
        }
      }
    }
  }

  .slick-slider {
    .slick-prev {
      left: 50px;
      z-index: 99;

      &::before {
        @extend %initlizeFonAwesomeAfter;
        font-size: 30px;
        content: "\f053";
      }
    }

    .slick-next {
      right: 50px;

      &::before {
        @extend %initlizeFonAwesomeAfter;
        font-size: 30px;
        content: "\f054";
      }
    }
  }

  .slick-dots {
    text-align: center;
    bottom: 90px;

    li {
      width: 30px !important;

      button {
        width: 30px !important;
        height: 7px !important;
        background-color: #c7c7c7;
        padding: 0;
        border-radius: 10px;

        &::before {
          content: none !important;
        }
      }
    }

    .slick-active {
      button {
        background-color: #fff;

        &::before {
          content: none !important;
        }
      }
    }
  }
}

.listen-card {
  width: 80%;
  margin: auto;
  margin-top: -100px;
  position: relative;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 16%);
  padding: 40px;
  padding-right: 200px;
  img {
    height: 138px;
    width: 138px;
    position: absolute;
    right: 40px;
  }
  h5 {
    color: #1d5c7b;
    font-size: 30px;
    margin-bottom: 25px;
  }
  p {
    width: 70%;
    color: #707070;
    font-size: 16px;
  }
  .btn-listen {
    display: inline-block;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translate(-50%, -13%);
    background-color: $secondColor !important;
    color: #fff;
    box-shadow: 0px 6px 2px 0px #027fb9;
  }
}

// start who us
.who-us {
  margin-top: 80px;

  .who-us-content {
    margin-top: 40px;
    margin-bottom: 40px;

    .card-title {
      color: $secondColor;
      font-size: 18px;
    }

    .card-text {
      font-size: 30px;
      max-width: 90%;
    }

    .card-par {
      font-size: 16px;
      margin-bottom: 20px;
      line-height: 25px;
    }

    .card {
      border: 0;
      margin-top: 10px;

      img {
        width: 35px;
        height: 35px;
      }

      h6 {
        font-size: 16px;
        margin-top: 10px;
      }
    }

    .know-more {
      margin-top: 20px;
      border-radius: 0;
      color: #fff;
      width: 150px;
      padding: 10px;
      background-color: $secondColor !important;
      color: #fff;
      box-shadow: 0px 6px 2px 0px #027fb9;
    }
  }
  .who-us-image {
    background-position: center;
    background-size: cover;
    height: 502px;
    width: 495px;
    float: left;
    position: relative;
    border-radius: 20px;
    &::after {
      content: url("../images/who-circle.png");
      position: absolute;
      bottom: 20px;
      right: -30px;
    }
  }
}

// start our news
.our-news {
  margin-top: 80px;
  background-image: url("../images/our-news-bg.png");
  padding-top: 60px;
  padding-bottom: 70px;

  .section-header {
    text-align: center;
    margin-bottom: 40px;

    h6 {
      color: #890a37;
      font-size: 18px;
    }

    h5 {
      display: inline-block;
      font-size: 30px;
      max-width: 30%;
    }
  }

  .card {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 0;
    margin-top: 13px;
    border-radius: 10px;
    background-color: transparent;
    .card-img {
      position: relative;
      background-size: cover;
      background-position: center;
      height: 190px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      overflow: hidden;
      // img {
      //   border-top-left-radius: 10px;
      //   border-top-right-radius: 10px;
      //   margin-bottom: 30px;
      // }

      .date {
        position: absolute;
        background-color: $secondColor;
        color: #fff;
        width: 145px;
        height: 145px;
        border-radius: 50%;
        // line-height: 80px;
        text-align: center;
        font-size: 27px;
        display: block;
        padding-top: 10px;
        top: 133%;
        left: 50%;
        transform: translate(-50%, -100%);

        .name-month {
          font-size: 18px;
          display: block;
          margin-top: -10px;
        }
      }
    }

    .card-body {
      padding: 15px;

      .card-title {
        h5 {
          margin: 0;
        }
      }

      .card-text {
        p {
          margin: 0;
          color: #333;
          font-size: 15px;
        }
      }

      .card-link {
        text-align: center;
        margin-top: 15px;

        a {
          color: $mainColor;
          i {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            text-align: center;
            background-color: #fff;
            line-height: 30px;
          }
        }
      }
    }
  }

  .know-more {
    margin-top: 70px;
    text-align: center;

    .btn {
      border-radius: 0;
      width: 180px;
      padding: 10px;
      background-color: $secondColor !important;
      color: #fff;
      box-shadow: 0px 6px 2px 0px #027fb9;
    }
  }
}

// start trainings
.trainings {
  margin-top: 80px;

  .training-content {
    .section-header {
      margin-bottom: 40px;
      margin-top: 30px;

      h6 {
        color: #890a37;
        font-size: 18px;
      }

      h5 {
        display: inline-block;
        font-size: 30px;
      }
    }

    .content {
      background-color: #f2f2f2;
      padding: 20px;
      border-radius: 10px;
      position: relative;
      margin-top: 20px;

      .content-date,
      .content-pr {
        float: right;
      }

      .content-date {
        // position: relative;
        .date {
          // position: absolute;
          background-color: #009ae1;
          color: #fff;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          // line-height: 80px;
          text-align: center;
          font-size: 27px;
          display: block;
          padding-top: 10px;
          bottom: 0;
          left: 25px;

          .name-month {
            font-size: 18px;
            display: block;
            margin-top: -10px;
          }
        }
      }

      .content-pr {
        margin: 20px 10px 0 0;

        p,
        h6 {
          margin: 0;
        }

        h6 {
          color: #a29f9f;
          margin-top: 5px;
        }
      }

      .plus {
        position: absolute;
        left: 20px;
        top: 35px;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        font-size: 13px;
        color: #341c77;
        text-align: center;
        line-height: 45px;
        background-color: #fff;
      }
    }
  }

  .training-img {
    text-align: center;
    background-position: center;
    background-size: cover;
    height: 620px;
    border-top-right-radius: 233px;
    width: 445px;
    float: left;
  }
}

// start pic-video
.pic-video {
  background-image: url("../images/library-img.png");
  background-position: center;
  background-size: cover;
  height: 945px;
  // background-repeat: no-repeat;
  padding-top: 70px;
  margin-top: 65px;
  position: relative;
  overflow: hidden;
  &::after {
    content: url("../images/library-cir.png");
    position: absolute;
    bottom: -20%;
    right: -10%;
  }
  .section-header {
    margin-bottom: 40px;
    margin-top: 30px;
    text-align: center;
    h6 {
      color: $secondColor;
      font-size: 18px;
    }

    h5 {
      display: inline-block;
      font-size: 30px;
      color: #fff;
    }
  }
  .pic {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 255px;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    z-index: 3;
    border-radius: 10px;
  }

  .video-col {
    overflow: hidden;
  }

  .video {
    height: 530px;
    // position: relative;
    iframe {
      height: 530px;
      width: 100% !important;
      border-radius: 10px;
    }

    .play {
      position: absolute;
      z-index: 2;
      width: 40px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .btn-know-more {
    margin: 75px;
    .btn {
      border-radius: 0;
      width: 180px;
      padding: 10px;
      background-color: $secondColor !important;
      color: #fff;
      box-shadow: 0px 6px 2px 0px #027fb9;
    }
  }
}

// start last-news
.last-news {
  margin-top: 100px;

  .last-news-content {
    margin-top: 50px;

    h6 {
      color: #bd181c;
      font-size: 22px;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      color: #818181;
    }

    .btn {
      background-color: $secondColor !important;
      color: #fff;
      width: 200px;
      padding: 15px;
      box-shadow: 0px 6px 2px 0px #009ae1 !important;
    }
  }

  .last-news-video {
    height: 350px;
    iframe {
      width: 100%;
      border-radius: 10px;
      height: 100%;
      border: 4px solid #ddd;
    }
  }
}


// start who us page =========================================================================================================

.path {
  background-color: $mainColor;
  color: #fff;
  padding: 60px;
  height: 200px;
  margin-top: 20px;

  .path-wrapper {
    h6 {
      // display: block;
      font-weight: bold;
      font-size: 25px;
      padding-bottom: 10px;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 30px;
        background-color: #fff;
        bottom: 0;
        height: 3px;
        left: 49%;
      }
    }

    a {
      font-size: 15px;
      color: #fff;

      &::before {
        @extend %initlizeFonAwesomeAfter;
        content: "\f053";
        font-size: 10px;
        // margin-right: 10px;
        margin-left: 5px;
      }
    }

    .first {
      &::before {
        content: "";
      }
    }
  }
}

// start who us
.who-us {
  margin-top: 80px;
  .who-us-content {
    margin-top: 40px;
    margin-bottom: 40px;

    .card-title {
      color: #890a37;
      font-size: 18px;
    }

    .card-text {
      font-size: 30px;
      max-width: 90%;
    }

    .card-par {
      font-size: 16px;
      // margin-bottom: 20px;
    }

    .card {
      border: 0;
      margin-top: 10px;

      img {
        width: 35px;
        height: 35px;
      }

      h6 {
        font-size: 14px;
        margin-top: 10px;
      }
    }

    .know-more {
      margin-top: 20px;
      border-radius: 0;
      background-color: $mainColor;
      color: #fff;
      width: 150px;
      padding: 10px;
      box-shadow: 0px 6px 2px 0px #f58c04;
    }
  }

  .my-mt {
    margin-top: 60px;
  }

  .quality-div {
    background-color: #009ae1;
    position: absolute;
    left: 0px;
    top: -40px;
    width: 300px;
    height: 320px;
    border-radius: 10px;
    padding: 20px;
    z-index: 9;

    img {
      width: 90px;
      margin-top: 30px;
    }

    h6 {
      margin-top: 10px;
      font-size: 20px;
    }

    h5 {
      font-size: 35px;
      text-align: center;
    }

    h6,
    h5 {
      color: #fff;
    }
  }

  .who-us-image {
    text-align: center;
    &::after {
      content: "";
      display: none;
    }

    img {
      width: 100%;
      border-radius: 10px;
      // height: 500px;
    }
  }
}

// ===============================================
.our-news-page{
  margin-top: 0;
  background-image: none;
  background-color: #FAFAFA !important;
}

.an-footer{
  margin-top: 0;
}

// ====================================================

// start photo-gallery
.photo-gallery {
  margin-top: 90px;

  .card {
    border: 0;
    position: relative;
    margin-top: 20px;

    img {
      height: 225px;
    }

    .overlay {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(63, 57, 131, 0);
      opacity: 0;

      a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 15px;
      }
    }

    &:hover .overlay {
      background-color: rgba(63, 57, 131, .9);
      opacity: 1;
    }
  }
}

// start gallery-video 
.gallery-video {
  margin-top: 90px;

  .card {
    border: 0;
    margin-top: 20px;
    position: relative;

    .overlay {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(63, 57, 131, .0);
      opacity: 0;
      // z-index: 2;
    }

    video {
      width: 100%;
      height: 198px;
    }

    .play-video-gallery-icon {
      position: absolute;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: #fff;
      text-align: center;
      color: #000;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      z-index: 2;
    }

    &:hover .overlay {
      background-color: rgba(63, 57, 131, .8);
      opacity: 1;
    }
  }
}


// ========================================================
.librar-school-page {
  background-color: #F3F3F3;
  padding-bottom: 30px;
}

.header-filter {
  padding-top: 90px;
  position: relative;
  margin-bottom: 20px;

  .heading {
    h5 {
      font-size: 18px;
      margin-top: 10px;
    }
  }

  .filter {
    float: left;
    width: 60%;

    .form-group {
      width: 43%;
      float: right;
      margin-right: 20px;
      box-shadow: 0px 3px 2px 0px #D7DAE2;
    }
  }
}

.library {
  .card {
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #E1E3E9;

    .card-img {
      position: relative;
      border-radius: 10px;

      .overlay {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(71, 64, 148, 0);
        opacity: 0;
        transition: .5s;
        border-radius: 10px;

        i {
          color: #fff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 18px;
        }
        .download{
          i{
            margin-left: 20px;
          }
        }
        .view{
          i{
            margin-left: -10px;
          }
        }
      }

      a {
        // position: relative;
        // z-index: 3;
      }

      img {
        height: 150px;
      }

      &:hover .overlay {
        background-color: rgba(71, 64, 148, .8);
        opacity: 1;
      }
    }

    .card-body {
      text-align: center;
      padding-bottom: 0;

      h5 {
        font-size: 18px;
      }
    }
  }
}


// =======================================================
// start last bools
.last-bools {
  background-color: #F3F3F3;
  padding-top: 60px;
  padding-bottom: 250px;

  .card {
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    margin-top: 15px;

    .card-title {
      margin-bottom: 20px;

      h5 {
        color: #341C77;
        font-weight: bold;
      }
    }

    .form-check {
      margin-top: 10px;
    }
    .btn-bool{
      background-color: #890A37;
      color: #fff;
      width: 200px;
      margin-top: 20px;
      border-radius: 26px;
    }
  }
}


// =======================================================
// staret time table

.time-table-page{
  background-color: #f3f3f3;
  padding: 50px 50px 0 50px;
  .time-table-table{
    background-color: #fff;
    position: relative;
    padding-bottom: 80px;
  }
}

.timetable {
  .time-table-head {
    tr {
      text-align: center;
      background-color: #F5F6FA;
      color: #A3A6B4;

      th {
        border: 0 !important;
      }
    }
  }

  .time-table-body {
    tr:nth-child(odd) {
      th {
        background-color: #5D57A1;
        color: #fff;
      }
    }

    tr:nth-child(even) {
      th {
        background-color: #6760B0;
        color: #fff;
      }
    }

    tr {
      height: 130px;
      text-align: center;
      line-height: 130px;

      td {
        border: 1px solid #ECF2F5;
      }
    }
  }
}

.time-table-tabs{
  .nav-pills{
    position: absolute;
    top: 60px;
    left: 90px;
    .nav-item{
      border: 1px solid #DDD;
      .nav-link{
        padding: 3px !important;
        width: 60px;
        text-align: center;
      }
    }
    .active{
      background-color: transparent;
      color: #36C0E6;
    }
  }
}

.pagnition-row {
  text-align: left;
  margin-bottom: 20px;
  .month-name{
    font-size: 20px;
    color: #341C77;
  }
  .pagination {
    width: 20%;
    padding-left: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    float: left;
  }
}

.filter-time-table{
  padding-top: 60px;
  margin-bottom: 30px;
  .filter{
    // padding-right: 100px;
    .form-group{
      width: 150px;
      float: right;
      margin-right: 20px;
    }
  }
}

.footer-time-table{
  margin-top: 0;
}



// =======================================================
// staret school ads

// start last-news
.last-news {
  margin-top: 100px;

  .last-news-content {
    margin-top: 50px;

    h6 {
      color: #890A37;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      color: #333;
    }

    .btn {
      background-color: $mainColor;
      color: #fff;
      width: 200px;
      padding: 15px;
      box-shadow: 0px 6px 2px 0px #F58C04;
    }
  }

  .last-news-video {
    .play {
      position: absolute;
      z-index: 2;
      width: 60px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    video {
      width: 100%;
      border-radius: 10px;
      border: 4px solid #DDD;
    }
  }
}
.school-ads {
  margin-bottom: 90px;

  .last-news-content {
    h6 {
      font-weight: normal;
      font-size: 25px;
    }

    p {
      font-size: 15px;
    }
  }
}


// start news-details
.news-details {
  background-color: #f3f3f3;
  padding-top: 40px;
  padding-bottom: 70px;

  .news-path {
    a {
      font-size: 15px;
      color: #888;

      &::before {
        @extend %initlizeFonAwesomeAfter;
        content: "\f053";
        font-size: 10px;
        // margin-right: 10px;
        margin-left: 5px;
      }
    }

    .first {
      &::before {
        content: "";
      }
    }
  }

  .news-details-content {
    .header {
      margin: 30px 0 30px 0;
      color: #341C77;
      font-weight: bold;
    }

    .time {
      font-size: 15px;
      color: #999;
    }

    .slider-top {
      .item-slide {
        height: 450px;
        background-size: cover;
        background-position: center;
      }
    }

    .slider-bottom {
      .slick-track {
        padding-left: 70px;
      }

      bottom: 166px;

      .item-slide {
        width: 150px !important;
        margin: auto;
        height: 125px;
        background-size: cover;
        border: 3px solid #fff;
        background-position: center;
        margin-left: 20px;

        &:focus {
          outline: 0 !important;
        }
      }
    }

    .content {
      margin-top: -90px;

      h5 {
        font-size: 20px;
        color: #341C77;
        margin-bottom: 20px;
      }

      p {
        margin-top: 10px;
        font-size: 15px;
        color: #777;
      }
    }

    .share {
      border-top: 1px solid #D5D5D5;
      border-bottom: 1px solid #D5D5D5;
      padding: 20px 0 20px 0;
      margin-top: 30px;

      span {
        margin-left: 50px;
        font-weight: bold;
      }

      a {
        i {
          width: 40px;
          height: 40px;
          background-color: #fff;
          color: #555;
          border-radius: 50%;
          border: 1px solid #DDD;
          line-height: 40px;
          text-align: center;
          margin-right: 10px;
          transition: .5s;

          &:hover {
            background-color: #36C0E6;
            color: #fff;
          }
        }
      }
    }

    .comment {
      margin-top: 30px;

      .card {
        background-color: transparent;
        border: 0;
        margin-top: 30px;
        position: relative;

        img {
          width: 70px;
          height: 60px;
          border-radius: 5px;
          margin-bottom: 20px;
        }

        .card-title {
          font-size: 15px;
          font-weight: bold;
          margin: 0;
        }

        .card-text {
          color: #555;
          font-size: 15px;
          margin: 0;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        .time {
          position: absolute;
          top: 0;
          left: 5px;

          &::before {
            content: "-";
          }
        }
      }

      .more {
        margin-top: 20px;
        text-align: center;
      }

      .comment-form {
        margin-top: 40px;
        border-bottom: 1px solid #D5D5D5;
        padding-bottom: 40px;

        .form-group {
          .form-control {
            border: 0;
            border-radius: 5px;
            height: calc(1.5em + 0.75rem + 100px);
          }
        }

        .btn-submit {
          .btn {
            border-radius: 20px;
            color: #fff;
            background-color: #474094;
            width: 100px;
          }
        }
      }
    }

    .links-to-news {
      margin-top: 30px;
    }

    .links-news {
      display: inline-block;
      background-color: #fff;
      text-align: center;
      height: auto;
      padding: 20px;
      width: 45%;
      // margin-left: 60px;
    }

    .next {
      font-size: 25px;
      position: relative;
      text-align: left;

      &::before {
        @extend %initlizeFonAwesomeAfter;
        position: absolute;
        content: "\f054";
        font-size: 40px;
        right: 10px;
        top: 30px;
      }
    }

    .prev {
      float: left;
      font-size: 25px;
      position: relative;
      text-align: right;

      &::after {
        @extend %initlizeFonAwesomeAfter;
        position: absolute;
        content: "\f053";
        font-size: 40px;
        left: 10px;
        top: 30px;
      }
    }
  }

  .realted-words {
    margin-top: 40px;

    ul {
      li {
        float: right;
        width: 30%;
        background-color: #DDD;
        margin-left: 5px;
        margin-top: 10px;
        text-align: center;
        padding: 5px;
        border-radius: 10px;
        font-size: 14px;

        a {
          color: #555;
        }
      }
    }
  }

  .most-watch {
    margin-top: 90px;

    .card {
      border: 0;
      background-color: transparent;
      margin-top: 20px;

      .card-title {
        font-size: 15px;
        margin: 0;
        font-weight: bold;
        margin-top: 10px;

        a {
          color: #341C77;
        }
      }

      .time {
        display: inline-block;
        font-size: 13px;
        color: #ddd;
        margin-top: 30px;
      }
    }
  }

  .subscripe {
    margin-top: 40px;

    .card {
      background-color: #474094;
      text-align: center;
      padding: 20px;
      border: 0;
      border-radius: 10px;

      .card-img {
        margin-bottom: 20px;

        img {
          width: 40px;
          height: 30px;
        }
      }

      .card-text {
        font-size: 12px;
      }

      .card-title,
      .card-text {
        color: #fff;
      }

      .form-group {
        .form-control {
          border-radius: 20px;
        }
      }

      .btn {
        background-color: transparent;
        border-radius: 20px;
        border: 1px solid #fff;
        width: 40%;
        color: #fff;
      }
    }
  }
}



// ==================================================
// start contact us page
.list-contact {
  .ifrema-map {
    margin-top: -50px;
  }

  .contact-information {
    .card {
      border: 0;
      margin-top: 35px;
      border-right: 1px solid #f5f5f5;
      border-radius: 0;

      .header-i {
        font-size: 30px;
        color: $secondColor;
        margin-bottom: 10px;
      }

      h6 {
        font-weight: bold;
      }

      p {
        margin: 0;
        color: #444;
      }

      .social {
        margin-top: 15px;

        span {
          a {
            color: #444;
            font-size: 25px;
            margin-left: 10px;
          }
        }
      }
    }

    .first-card {
      border-right: 0 !important;
    }
  }
}

.form-contact-page {
  margin-top: 90px;
  margin-bottom: 110px;

  .my-contact-form {
    width: 100% !important;
    background-color: #fff;
    box-shadow: 0 2.9px 14.3px -13px rgba(0, 0, 0, 0.14),
      0 23px 114px -13px rgba(0, 0, 0, 0.28);
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 70px;

    .form-group {
      label {
        font-weight: bold;
      }

      .form-control {
        height: calc(1.5em + 0.75rem + 20px);
        border: 1px solid #d1d1d1;
        border-radius: 8px;
      }
    }

    .form-text-area {
      .form-control {
        height: calc(1.5em + 0.75rem + 200px) !important;
      }
    }

    .btn-submit {
      text-align: center;
      margin-top: 30px;

      .btn {
        background-color: #FAA21F;
        width: 200px;
        color: #fff;
        padding: 15px;
        box-shadow: 0px 6px 2px 0px #F58C04;
      }
    }
  }
}


// ============================================


// staret footer
footer {
  margin-top: 100px;
  background-color: #25292b;
  padding-top: 100px;
  padding-bottom: 80px;
  .footer-par {
    color: #fff;
    margin-top: 60px;
  }

  .logo-content-logo {
    .logo-footer {
      width: 173px;
      height: 149px;
      margin-bottom: 25px;
    }

    p {
      font-size: 15px;
      line-height: 30px;
      margin-top: 15px;
      color: #fff;
      width: 70%;
    }

    .parent-social {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #fff;
      padding: 10px;
      margin-left: 10px;
      text-decoration: none;
    }

    .social-icon {
      width: 20px;
      height: 20px;
    }
  }

  .help-content {
    h5 {
      color: #fff;
    }

    ul {
      margin-top: 30px;

      li {
        margin-top: 5px;
        color: #fff;
        position: relative;

        &::before {
          content: "";
          width: 5px;
          height: 5px;
          background-color: #fff;
          border-radius: 50%;
          position: absolute;
          margin-top: 10px;
          margin-right: -10px;
        }

        a {
          display: inline-block;
          text-decoration: none;
          transition: all 0.5s ease !important;
          color: #fff;

          &:hover {
            transform: translateX(-5px) !important;
          }
        }
      }
    }
  }

  .contact-list {
    ul {
      li {
        margin-top: 5px;

        &::before {
          content: "";
          width: 0px;
          height: 0px;
        }

        i {
          margin-left: 4px;
        }
      }
    }
  }
}






@media (min-width: 2560px) {
  .top-header .logo img {
    right: 20%;
  }
}

@media (max-width: 1024px) {
  .top-header {
    .navbar {
      width: 100%;
      margin-top: 20px;
    }
  }
  .slider-bottom {
    .slick-track {
      padding-left: 15px !important;
    }

    .item-slide {
      width: 150px !important;
      margin: auto;
      height: 125px;
      margin-left: 25px !important;
    }
  }
  .time-table-tabs .nav-pills{
    left: 30px;
  }
}

@media (max-width: 800px) {
  .top-header {
    .top-header-information {
      // width: 100% !important;
      ul {
        margin-bottom: 0;

        li {
          margin-left: 0;
          padding-right: 0;
          text-align: center;
          padding: 6px;
        }
      }
    }

    .logo {
      img {
        width: 150px;
      }
    }

    .navbar {
      width: 100%;
      background-color: $mainColor;
      height: auto !important;
      padding: 10px;
      margin-top: 50px;
      .navbar-nav {
        margin-top: 10px;

        .nav-item {
          height: auto;
          margin-left: 0;

          .nav-link {
            color: #fff !important;
            height: auto !important;
            // padding: 0 !important;
            line-height: 15px;
            color: #fff !important;
          }
        }

        .active {
          .nav-link {
            background-color: $secondColor;
            border-radius: 10px;
          }
        }
      }

      .login {
        border: 1px solid #fff;
        text-align: center;
        padding: 5px;
        width: 100%;
        margin-top: 0;
        margin-top: 10px;
        .login-link {
          color: #fff;
          line-height: 10px !important;
        }
      }
    }

    .navbar-light .navbar-toggler {
      background-color: #fff;
    }
  }
  .header-slider {
    .item-slider {
      background-position: right;
      padding-top: 50px;
    }
    .slider-caption {
      width: 100% !important;
      margin-top: 80px !important;
    }
  }
  .listen-card {
    img {
      margin-top: 30px;
    }
    p {
      width: 100%;
    }
    .btn-listen {
      position: unset;
      width: 50%;
    }
  }
  .who-us {
    .who-us-image {
      width: 100%;
    }
  }
  .our-news {
    .section-header h5 {
      max-width: 100%;
    }
  }
  .pic-video {
    height: auto;
    .btn-know-more {
      .btn {
        position: relative;
        z-index: 3;
      }
    }
  }
  .pagination{
    width: 100%;
    overflow: auto;
  }
  .time-table-page{
    padding: 0px !important;
    .filter-time-table .filter .form-group{
      margin-right: 0;
      margin-left: 10px;
    }
    .pagnition-row{
      text-align: center;
      .pagination{
        width: 20% !important;
      }
    }
    .timetable .time-table-body tr{
      line-height: 37px;
    }
  }
  .list-contact {
    .contact-information {
      .card {
        border-right: 0 !important;
        padding-bottom: 20px;
        border-bottom: 1px solid #f5f5f5 !important;
      }
    }
  }
  .slider-bottom {
    .slick-track {
      padding-left: 15px !important;
    }

    .item-slide {
      width: 150px !important;
      margin: auto;
      height: 125px;
      margin-left: 10px !important;
    }
  }
}

@media (max-width: 524px) {
  .top-header {
    .top-header-information {
      height: auto;
      width: 100%;
      border-radius: 0;
      margin-bottom: 10px;
      .social {
        float: right !important;
      }
    }

    .navbar {
      margin-top: 0;
    }

    .logo {
      text-align: center;
      img {
        position: inherit;
        width: 150px;
        margin-bottom: 10px;
      }
    }
  }
  .header-slider {
    .slick-dots {
      text-align: left;
      padding-left: 20px;
    }
  }
  .listen-card {
    padding-right: 40px;
    img {
      position: unset;
      margin-bottom: 20px;
    }
    p {
      width: 100%;
    }
    .btn-listen {
      position: unset;
      width: 50%;
      margin-top: 30px;
    }
  }
  .trainings {
    .training-img {
      width: 100%;
      margin-top: 10px;
      float: none;
    }
  }
  .last-news {
    iframe {
      margin-top: 20px;
    }
  }
  .who-us {
    .who-us-content {
      .card-text {
        max-width: 100%;
      }
    }
    .quality-div {
      width: 75%;
    }
  }
  .time-table-tabs .nav-pills{
    position: unset;
  }
  .news-details {
    .news-details-content {
      .slider-bottom {
        text-align: center;

        .slick-track {
          padding-left: 0px !important;
        }

        .item-slide {
          width: 89px !important;
          margin-left: 8px !important;
          // margin-right: 10px;
        }
      }
    }
  }
  .links-to-news {
    .links-news {
      width: 100% !important;
      margin-top: 10px;
    }
  }
}

@media (max-width: 320px) {
  .header-slider .header-slider-pic .item-slider {
    height: 678px;
  }
}

%initlizeFonAwesomeAfter {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
